*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

.container{
   width: 100%;
   height: 786px;
   padding-top: 10px;
   background-image: url(images/1837.png);
   position: relative;

}

.banner{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(/images/19691.png);

}

header{
    width: 100%;
    height: 17px;
    margin-bottom: 20px;
    color: white; 
    padding: 0 20px; 
}

nav{
    width: 100%;
    height: 32px;
    display: flex;  
    justify-content: space-between;
    padding: 0 40px;
}

.button-group ul{
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-group>ul>li{
    padding: 0 10px;
    list-style: none;
}

.card{
    margin-left: 139px;
    margin-top: 359px;
    width: 540px;
    height: 253px;

}

.card1{
 width: 540px;
 height: 88px;

 color: var(--unnamed-color-ffffff);
 text-align: left;
font: normal normal 900 36px/44px Lato;
letter-spacing: 0px;
color: #FFFFFF;
text-shadow: 0px 3px 6px #00000029;
opacity: 1;
}

.card2{
 width: 514px;
 height: 50px;
 margin-top: 27px;
 color: var(--unnamed-color-ffffff);
 text-align: left;
font: normal normal normal 20px/26px Lato;
letter-spacing: 0px;
color: #FFFFFF;
}

 .navbutton{
    border: 1px solid white;
    padding: 11px 25px;
    font-family: 'Playfair Display', serif;
    display: inline-block;
    position: relative;
}

.btn-1{
  width: 200px; 
  height: 48px;
  margin-top: 40px;
  margin-left: 20px;
}

.content{
  width: 100%;  
  height: 39px;
  margin: auto;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 830px;
}

.content p{
    font-size: 32px;
    font-family: lato;
}
.box{
    width:904px;
    height: 149px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-top: 30px;
    padding: 10px;
    font-family: 'Lato', sans-serif;
}

.box p {
text-align: center;
}
.services{
    width: 1287px;
    height: 620px;
    margin-top: 100px;
    
    display: flex;
    
    
}
.card3{
    width: 50%;
    height: 100%;
    text-align: center;
}
.card4{
    width: 50%;
    height: 100%;
    
}
 h1{
    font-size: 40px;
    color: black;
    
    
}
.design-box{
    width: 504px;
    height: 115px;
    text-align: left;
    padding-left: 79px;
    
}
header i{
padding-left: 20px;
}
.card4 img{
    height: 100%;
    width: 100%;
}
.box1{
    width: 604px;
    height: 112px;
    
    margin-top: 30px;
    padding-left: 79px;
}
.box1 p{
    text-align: left;
}
.card5{
    margin: auto;
    width: 75%;
    margin-top: 20px;
    
    
    
}

table {
    width: 100%;
    float: left;
}
td{ 
    text-align: left;
    padding: 15px 0px;

    align-items: center;
}
.mybutton{
    width: 200px;
    height:48px;
    background-color: blue;
    float: left;
    margin-left: 79px;
    margin-top: 20px;
}
.section-2{
    width: 100%;
    height: 720px;
    
    margin-top: 62px;
}
.section-2 img{
    height: 100%;
    width: 100%;
    padding: 0;
}

